/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05 Feb 2015, 11:10:43 AM
    Author     : Amir Canteetu
*/


.hide {
	display: none;
}

.quiz-form {
    margin: 60px auto 20px auto;
}
.quiz-table-listing {
    
}
.quiz-table-listing td {
    padding: 10px;
}
.quiz-question-title {
    text-align: left;
    font-size: 17px;
    font-weight: bold;
    margin: 25px 0 10px 0;
    padding-bottom: 4px;
    text-transform: capitalize;
}

/* results for quiz */
#ajax-loader {
    width: 48px;
    height: 48px;
    background: url(../images/loader.gif) no-repeat;
    margin: 20px auto 20px auto;
}

#see-results-container {
    position: relative;
    width: 535px;
    margin: 60px auto 20px auto;
}
.quiz-result-container {
    width: 100%;
    margin: 30px auto 30px auto;
      border: 1px solid #dddddd;
}
.quiz-result-container .you-got {
   color: #222;
    font-size: 18px;
    font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 5px;
}
.quiz-result-container .you-got-answer {
    font-family: 'Libre Baskerville', serif;
    font-size: 21px;
    font-style: italic;
}
.quiz-result-container .quiz-results-p {
    margin-bottom: 0;
    padding: 5px 0 0 10px;
}
.quiz-result-container .share-your-results-container {
    
    border-top: 1px solid #cfcfcf;
padding-bottom: 35px;
    display: inline-block;
    width: 100%;
}
.quiz-result-container .share-your-results-container p {
    text-transform: uppercase;
    font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
    font-size: 16px;
    margin: 20px 0 15px 0;
    padding: 0;
    letter-spacing: 1px;
    text-align: center;
}

a.outcome_image_link, a.outcome_image_link:active, a.outcome_image_link:focus, a.outcome_image_link:hover {
    text-decoration: none !important;
    box-shadow: none !important;
    color: transparent;
}
p.quiz-title {
    margin-bottom: 5px;
    padding-left: 10px;
    padding-top: 10px;
}
.quiz-result-container #share-buttons {
    text-align: center;
    margin: 10px auto 30px auto;
    width: 100%;
}

#share-buttons a {
    text-decoration: none;
    border: none;
}
.quiz-result-container .fb-contain {
    display: inline-block;
    width: 30%;
    background: #3750a2;

}
.quiz-result-container .twitter-contain {
    display: inline-block;
    width: 30%;
    background: #4fb1de;
    margin-left: 10px;
}
.quiz-result-container .img-desc-contain {
    margin: 10px 0 15px 0;
    padding: 10px;
    display: inline-block;
}

.img-desc-contain .desc {
    padding: 5px;
}
.img-desc-contain #description {
    font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
    font-size: 15px;
    color: #797979;
}
.img-desc-contain #cta {
    font-size: 14px;
    font-weight: bold;
}
.img-desc-contain #cta-text {
    font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    margin-top: 20px;
    color: #000;
}
.img-desc-contain #cta-link {
    font-family: 'Libre Baskerville', serif;
    color: #e48b8b;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    padding-right: 2px;
}
.img-desc-contain #cta-link:hover {
    text-decoration: underline;
}

#take-quiz-again-link {
    display: block;
    font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #000;
    height: 60px;
    width: 300px;
    background: #efeded;
    text-decoration: none;
    margin-top: 20px;
}
#take-quiz-again-link p {
    text-align: center;
    margin: 0;
    padding-top: 20px;
    font-size: 14px;
}
#take-quiz-again-link p i {
    background: url(../images/rewind-icon.png) no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0 0 -4px 0;
}


#take-quiz-again-mobile {
    display: none;
    font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #000;
    height: 60px;
    width: 100%;
    background: #efeded;
    text-decoration: none;
    margin-top: 20px;
}
#take-quiz-again-mobile p {
    text-align: center;
    margin: 0;
    padding-top: 20px;
    font-size: 14px;
}
#take-quiz-again-mobile p i {
    background: url(../images/rewind-icon.png) no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0 0 -4px 0;
}

.img-desc-contain .arrow-right {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #fff;
    position: absolute;
    top: 24px;
    right: 64px;
}
.quiz-img {
    vertical-align: middle;
   
}
.quiz-img-contain {
background-color: #f2f2f2;
border: 1px solid #d8d8d8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 7px;
    cursor: pointer;
}

.quiz-img-contain:hover {
background-color: #fff195;
}
.quiz-item-selected {
    cursor: pointer;
    border: 8px solid #8ac5ff;
    padding: 0;
background-color: #8ac5ff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.quiz-item-disabled {
    opacity: 0.4;
}

#quiz-container {
    width: 100%;
    margin: 0 auto;
}
.field-button-submit {
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    font-style: italic;
    letter-spacing: 1px;
    background: #000;
    color: #fff;
    padding: 10px 40px 10px 40px;
    font-weight: bold;
    margin-top: 30px;
    width: 100%;
    text-transform: lowercase;
}
#quiz-heading {
    font-size: 19px;
    font-weight: bold;
    text-transform: capitalize;
}

.quiz-subcontent-contain {
    width: 100%;
    min-height: 200px;
    margin: 10px auto 0 auto;
    border-bottom: 1px solid #000;
    position: relative;
}
#heading-img-contain {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    float: left;
}
#heading-img-contain img {
    width: inherit;
    height: inherit;
}

#heading-subtext-contain {
    font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 170px;
    padding-bottom: 30px;
}
#take-the-quiz {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-size: 18px;
    bottom: 0;
    left: 0;

}
#take-the-quiz span {
    display: inline-block;
    
    text-align: center;
    margin-bottom: 3px;
}

.arrow-contain {

    bottom: -15px;
    left: 0;
    width: 100%;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #000;
    text-align: center;
    margin: 0 auto;
}

#quiz-heading-hr {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ececec;
}
#thank-you-container {
    margin: 0 auto;
    text-align: center;
}
#thank-you-hr {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0;
    border-top: 1px solid #000;
    width: 380px;
}
#thank-you-heading {
    font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 15px;
}
#thank-you-subheading {
    font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
#thank-you-message {
    font-family: 'Libre Baskerville', serif;
    font-size: 13px;
    font-style: italic;
}
#thank-you-social {
    margin-top: 20px;
}
#thank-you-twitter {
    margin-right: 10px;
    display: inline-block;
}
#thank-you-facebook {
    margin-left: 10px;
    display: inline-block;
}

@media only screen and (max-width: 500px) {
    #quiz-container {
        width: 90%;
    }
    .quiz-form {
        width: 100%;
        margin: 60px auto 20px auto;
    }
    .quiz-img {
        width: 100%;
        height: 100%;
    }
    .quiz-table-listing {
        margin: 0;
    }
    .quiz-result-container {
        width: 100%;
    }
    .quiz-result-container .fb-contain {
        width: auto;
        margin-right: 5px;
    }
    .quiz-result-container .twitter-contain {
        width: auto;
        margin-left: 5px;
    }
    .img-desc-contain .desc {
        margin: 20px 0 0 0;
        display: inline-block;
    }
    #take-quiz-again-link {
        display: none;
    }
    .img-desc-contain .pull-left {
        float: none !important;
        text-align: center !important;
    }
    #answer-img-result {
        width: 100%;
        height: auto;
    }
    #take-quiz-again-link {
        display: none;
    }
    #take-quiz-again-mobile {
        display: inline-block;
    }
    #heading-img-contain {
        width: 100px;
        height: 100px;
        margin-right: 10px;
    }
    #heading-subtext-contain {
        margin-left: 0 !important;
    }
}

.pull-left {
    width: 300px;
float: left;
}

span.quiz-title {
    font-size: 24px;
}

#buzz_sub_buzz .quiz .quiz_question.image .quiz-answer .quiz_checkbox_wrp .quiz-checkbox {
  width: 29px;
  height: auto;
  border: none;
  background: none;
  margin: 0;
}

span.quiz_checkbox {
  height: 29px !important;
  width: 29px !important;
  border: none;
  background: none;
  margin: 0;
  float: left;
    
}

span.quiz-checkbox_unchecked {
    background: url(../images/unchecked.png) no-repeat;
}

span.quiz-checkbox_checked {
    background: url(../images/checked.png) no-repeat;
}

span.quiz_answer_text {
    width: 80%;
}

div.quiz_checkbox_wrp {
    margin-top: 10px; 
}

#share-buttons a img {
    display: inline;
}

#share-buttons a  {
    width: 30%;
    height: 45px;
    display:inline-block;
    padding-top: 3px;
}

#share-buttons a:hover  {

    text-decoration: none;
  opacity: .75;
}

#share-buttons a  span{
    font-size: 18px;
  color: #fff;
  letter-spacing: 3px;
  border-radius: 1px;
  text-transform: uppercase;
  line-height: 40px;
  text-align: center;
}

a.fb-share {
    float: left;
    background-color: #3b5998;
      margin-left: 17%;
}

a.twitter-share {
    float: right;
      background-color: #55acee;
        margin-right: 17%;
}



/*!
 *  Font Awesome 4.4.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.4.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 17px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}
.fa-twitter-square:before {
  content: "\f081";
}
.fa-facebook-square:before {
  content: "\f082";
}

.fa-twitter:before {
  content: "\f099";
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}

.responsive {
    width: 100%;
    height: auto;
}

